__pycache__/
*.pyc
.DS_Store
results/segmentation_cache.json
figures/_etopo_grey.png
figures/*.png
figures/*.pdf
gmt/*.png
gmt/*.pdf
gmt/*.nc
gmt/*.cpt
/fz.gmt
/lips.json
/contacts.csv
/series_*.csv
gmt/plat.txt
gmt/ridge.txt
gmt/fz.txt
gmt/legend.txt
